
header{
    margin: 0 auto;
    display: flex;
    width: 1248px;
    height: 80px;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0;
    border-bottom: 1px solid #cbcbcb;
}

.nav__list{
    display: flex;
    gap: 20px;
    width: 410px;
    justify-content: start;  
}

.nav__list__item{
    font-weight: 500;
    font-size: 17px;
    color: #606060;
    transition: 0.2s ease-in-out;
}

.nav__list__item:hover{
    color:#6c5fbc;
    transform: translateY(5%);
}

.nav__list__item:active{
    animation: vertical-shaking 0.8s infinite;
}

.a__list{
    width: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: max-content;
}

.button__list{
    display: flex;
    gap:10px;
    height: max-content;
    width: 296px;
}

.login{
    border: none;
    background: none;
    font-weight: 700;
    font-size: 17px;
    color: #606060;
    transition: 0.5s ease-in-out;
    padding: 15px;
    border-radius: 15px;
    cursor: pointer;
}

.login:hover{
    background: #6c5fbc;
    color: aliceblue;
}

.sign_up{
    background: #6c5fbc;
    color: aliceblue;
    border-radius: 15px;
    padding: 15px;
    font-weight: 700;
    font-size: 17px;
    border: none;
}

.sign_up:hover{ 
    background: none;   
    color: #606060;
}

.menu-bar {
    /* display: none; */
    margin: 0 auto;
    width: 1248px;
    border: none;
    position: absolute;
    background-color: white;
    padding: 10px;
}

.navigation .menu-bar{
    display:block;
}

.menu-bar ul {
    list-style-type: none;
    display: flex;
    gap: 10px;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.menu-bar li {
    cursor: pointer;
    padding: 5px 0;
}

.menu-bar li:hover {
    background-color: #f1f1f1;
}

@media screen and (max-width: 768px){
    header{
        margin: 0 auto;
        display: flex;
        width: 314px;
        height: 62px;
        align-items: center;
        justify-content: space-between;
        padding: 5px 0;
        border-bottom: 1px solid #cbcbcb;
    }
}